<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}{{ if ne .Kind "home" }} — {{ .Site.Title }}{{ end }}</title>
  {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
